[2017-02-01 22:39] jonathanmorley opened #1 "Remove debugging code"
https://github.com/lipanski/mockito/blob/ae854d946e8d1921f89507ac0df546b34e494a84/src/server.rs#L79

[2017-02-01 23:00] lipanski commented on #1
oh my.
the freshly released 0.2.3 fixes that.
thanks for reporting :pizza:

[2017-02-01 23:01] #1 closed

[2017-02-11 19:18] mikeastock opened #3 "Setup CI"
Are you interested in getting Travis-CI setup for this project? If so I'll gladly help set it up.

[2017-02-12 22:31] #3 closed

[2017-02-12 22:40] lipanski opened #6 "Ensure tests on different threads aren't trying to start the mock server at the same time"
In some cases flickering tests might appear due to the shared state of the mock server, especially when multiple tests are trying to start the server on different threads.

The currrent workaround is to use `cargo test -- --test-threads=1`. This has the down-side of slowing down tests.

A solution could be running a mock server for every test (on a random port), but this will pose problems when se

[2017-02-12 22:41] lipanski commented on #3
Just set it up in #5

Some of the doc tests were flickering (mainly because of the shared state of the mock server) so I had to test it with `cargo test -- --test-threads=1`.

I realise that some use-cases might show a similar problem, in which case `--test-threads=1` should do the job. However, this does slow down your tests a bit.

I've made a mental note to fix this here: https://github.com/lip

[2017-02-19 10:48] afonso360 opened #7 "Tests hang on window"
Hi,

When I tried to test this library on windows it seems to hang and use 100% cpu time.
The hang can be reproduced on Appveyor

https://ci.appveyor.com/project/afonso360/mockito

I tracked the issue down to server.rs:143, when executing `server.handle()` it seems to hang.

The newer versions of hyper (git) don't hang on windows, would it be possible to upgrade?
The hyper api has changed slightly

[2017-02-19 14:15] lipanski commented on #7
https://github.com/lipanski/mockito/pull/2 did upgrade the hyper version and appveyor was using the latest stable version of hyper - `0.10.4` - in your test run.

could it be that port `1234` is blocked/reserved/firewalled on Windows?

[2017-02-19 17:08] afonso360 commented on #7
I meant changing it to track git, which I believe has quite a few changes from the latest stable release because they changed to async i/o, ill try and get it working with the async version tonight.

I tried on my windows machine and even after enabling the port on the firewall the result was the same.
Also tried to change from 1234 to 8088 on appveyor and the result was the same.

[2017-02-20 10:56] afonso360 commented on #7
Changing to Async io is going to require a lot more changes than I thought, and I don't think i can do it now? do you have ideas on how to solve this?

[2017-02-20 17:38] lipanski commented on #7
I'll have a look over the weekend but no promises. using unstable hyper is not an option I'd like to consider but maybe there are other ways to get this working on Windows.

[2017-02-21 09:09] afonso360 commented on #7
I agree, we shouldn't use unstable hyper, but if we don't find another option what we could do is, start a new branch tracking the Async I/O version of hyper and keep that as a separate branch until 1.0.0 is released.  We would then be ready with a working version for the next hyper release.

[2017-02-26 21:42] lipanski commented on #6
Added `cargo test -- --test-threads=1` to the docs in 908318c323aeac0fd01e8bef9c86c55bbeff7b61

This is the recommended way of running mockito.

[2017-02-26 21:43] lipanski commented on #6
Will add some tests eventually for the multi-threaded case, where the same route is never tested twice and `reset()` is never used.

[2017-03-22 13:00] lucab opened #11 "match_header: make `value` an Option<&str>"
I'd like to request/suggest a parameter type change for `match_header()`.
In particular, I would like to request the `value` parameter to be optional (`Option<&str>`).

The usecase is a test I want to write where I'm interested in checking just the presence of a specific header, while I'm not interested in matching the value (which is not always known by the test runner).

[2017-03-22 13:01] lucab opened #12 "mock: introduce a match_no_header() negative matcher"
I'd like to see a new negative-matching helper added to Mock, which I guess may look like the following:
[code]

The usecase is a test I want to write where I'm interested in ensuring that
a particular header has not been set on the request (optionally, only matching
the header key only).

[2017-03-27 19:56] lipanski commented on #11
this was actually on my list. it could be an `Option`, but I was originally thinking of a trait that could be implemented for `&str` and regular expressions (and other types in the future).

I'll see what comes out and let you know.

[2017-03-27 19:57] lipanski commented on #12
rogert that, sounds doable. I'll come back to you when I've got something.

[2017-04-02 22:11] lipanski commented on #11
@lucab this was just released with version 0.3.0 - check the details here: http://lipanski.github.io/mockito/generated/mockito/index.html#other-header-matchers

TL;DR:

[code]

[2017-04-02 22:11] #11 closed

[2017-04-02 22:12] lipanski commented on #12
@lucabjust just released in 0.3.0 - check the details here: http://lipanski.github.io/mockito/generated/mockito/index.html#other-header-matchers

TL;DR:

[code]

[2017-04-02 22:12] #12 closed

[2017-04-03 07:58] lucab commented on #11
Great, I'll give it a try. Looking at the docs I think it matches what I'd need, thanks a lot!

For reference, this is where I'd plan to use it: https://github.com/camallo/dkregistry-rs/blob/master/tests/mock/base_client.rs#L40

[2017-05-22 17:25] #6 closed

[2017-05-22 17:35] lipanski commented on #7
hey @afonso360

I've just released a major change to mockito, replacing hyper entirely with curl + http-muncher, which means it supports Windows builds from now on :)

appveyor is [nice and green](https://ci.appveyor.com/project/lipanski/mockito/history).

the new version is [0.5.0](https://github.com/lipanski/mockito/releases/tag/0.5.0) - please give it a try if you're still interested.

[2017-05-22 17:36] lipanski commented on #7
Closed by https://github.com/lipanski/mockito/pull/16

[2017-05-22 17:36] #7 closed

[2017-06-01 10:14] lipanski opened #19 "libcurl dependency"
`dev-dependencies` cannot be opted out (see [this](https://github.com/rust-lang/cargo/issues/1596)) and the libcurl dependencies poses problems when cross-compiling the crate.

originall reported [here](https://github.com/lipanski/mockito/pull/16#issuecomment-305447920).

cc @lucab I'll try to think of something but I went for curl & http-muncher because the hyper server doesn't work on Windows (m

[2017-06-01 10:20] estin commented on #19
And my thoughts about `libcurl`.

`libcurl` used only for making `http POST` requests to the mock server launched in the thread.

May use async `channel` to comunicate in threads to add/remove/reset mocks without http and serailization/desirailization?
Like https://tokio.rs/docs/going-deeper-futures/synchronization/#channels

Sorry for my poor English.

[2017-06-01 10:29] lucab commented on #19
I guess @estin suggestion above is somehow tangled into the larger discussion of making mockito testthread-local. Whatever we'll end up doing here, it would be nice if it'd also accounted for that.

[2017-07-11 21:05] lipanski commented on #19
@estin @lucab a great day for Mockito :tada:

0.8.0 removed the need for curl (and serde for that matter).

please check the [changelog](https://github.com/lipanski/mockito/releases) because with 0.7.0 I introduced some breaking changes, but also some new features.

[2017-07-11 21:05] #19 closed

[2017-07-11 21:16] lucab commented on #19
👍 Thanks for pinging back, I'll give it a try soon.

[2017-07-15 21:38] alyssais opened #20 "HTTP reason phrase is omitted from responses"
The [HTTP 1.1 RFC](https://www.w3.org/Protocols/rfc2616/rfc2616.txt) defines a response status line like this:

However, since Mockito switched to constructing HTTP responses manually, instead of through Hyper, it has omitted the reason phrase (and indeed has no way of setting it without either modifying the API to require it being specified by the user, or maintaining an internal mapping of statu

[2017-07-15 21:49] lipanski commented on #20
the RFC does state:

...but I'll see what I can do to fix this. most probably I'll append the reason based on an internal mapping so I don't have to break the current interface.

[2017-07-15 22:11] alyssais commented on #20
Sure, but it's still a mandatory part of the status line — even if a parser just skips over it, it can still expect it to be there.

Thanks in advance for looking into this. :) One thing you _could_ do would be to just return the same static string all the time, since a client is unlikely to depend on the value, but there does need to be _something_ there to be valid HTTP.

[2017-07-16 11:04] lipanski commented on #20
I guess I misinterpreted that. in any case, [0.8.1](https://github.com/lipanski/mockito/releases) fixes it.
as always, thanks for reporting :1st_place_medal:

[2017-07-16 11:04] #20 closed

[2017-09-18 12:21] andir opened #23 "Diff between executed and expected requests"
When looking at the output of (failed) tests it isn't immediately visible what might be different.
For example larger JSON blobs or subtle changes in headers can take quite some time to spot.

[2017-09-19 08:14] lipanski commented on #23
are you talking about the `Mock#assert` error message? [this one](http://lipanski.github.io/mockito/generated/mockito/index.html#example-4)? if so, I might be able to add some colouring of what's different, though there are actually two situations to consider here:

- the last unmatched request is mocked wrongly (there is a mock but its too strict for the request)
- the last unmatched request is n

[2017-09-19 18:20] salpalvv opened #24 "Dependency Issue while using Mockito and libgit2"
I'm going to post this to both because i'm not sure what the actual issue is or if it's my fault.

This only happens when both `libgit2 0.6` and `mockito 0.9` are being used together in the same project.

[code]

[2017-09-20 12:54] salpalvv commented on #24
according to [here](https://github.com/alexcrichton/git2-rs/issues/249), this looks like an issue with http-muncher. I will work with libgit2 and http muncher and see if this can get resolved.

[2017-09-20 12:54] #24 closed

[2017-09-20 13:04] andir commented on #23
Yes, that is what I mean. Basically telling the user what part of the request and maybe even the values/body is wrong.

[2017-10-09 23:09] jupp0r opened #25 "dynamic ports"
Using a static port for mockito makes integration tests brittle for a number of reasons:

- port 1234 might be taken by an outside process
- another user on the same machine might also run mockito tests
- another test binary might be running for the same user
- multiple threads

Mockito could bind to port 0, which makes the OS choose a free port to bind on, and then let the test know which port wa

[2017-10-11 17:11] lipanski commented on #25
I think this is doable nowadays (wasn't possible with the mockito architecture of several months ago). initially I started out with port 0, but had to pin it at some point. will take another look.

[2017-10-12 08:44] lipanski commented on #25
@jupp0r not sure about that part though. how would you tell every individual test which port to call? I thought about thread IDs as a way to associate tests with a particular set of mocks, but the moment you're application code uses threads itself, you're lost.

parallel test execution is possible with mockito, but only as long as you're mocks don't collide.

[2017-10-21 19:23] nathanaeljones opened #26 "Mockito doesn't seem to notice requests from a child thread."
[code]

[2017-10-21 20:30] nathanaeljones commented on #26
And I get a 501 when I shouldn't, as well.

Any idea what could be going on?

[2017-10-21 20:45] nathanaeljones commented on #26
I didn't run into this when I was operating on a single thread.

[2017-10-24 19:52] lipanski commented on #26
I'll have a look.

[2017-10-29 10:10] lipanski commented on #26
@nathanaeljones I've added a test [here](https://github.com/lipanski/mockito/commit/0908ef34f0d1dc5d1bb7111ac92f3dbd844c1607) but it seems to be working fine.

could you go into a bit more detail? maybe write a test that fails and I'll pick it up from there?

here are some possible problems that you could check against, otherwise I'd need more details:

(1) the mock's lifetime: as explained [here]

[2017-10-30 13:54] filib opened #27 "Underscore variables"
When I set up my mock but I only use an underscore as the variable (see example below), the mock doesn't get created. Why does this happen when I use `let _` but not `let _m`? Is the call being optimised away by the compiler? Is it worth adding a note in the documentation?

[code]

## Versions

[code]

[2017-10-30 20:24] lipanski commented on #27
good point. I've clarified this in https://github.com/lipanski/mockito/commit/1205b591e4d618b5c4985d76ee38e0dcbd40ce52

I'm actually not sure why Rust treats the `_` this way, but it's definitly a consistent behaviour. I've found [this RFC](https://github.com/rust-lang/rfcs/pull/1177) but I'm still not exactly sure what the story behind this is.

[2017-10-30 20:24] #27 closed

[2017-10-31 13:11] lipanski commented on #26
(3) avoid assigning your mock to a variable called `_`, use something like `_m` or `_mock` or whatever as long as there's not just the *underscore* - reported [here](https://github.com/lipanski/mockito/issues/27) and now part of the docs

[2017-11-12 18:16] #26 closed

[2018-02-05 21:42] otavio commented on #25
Agreed but it is suboptimal as running the tests in parallel does provide a great speed up.

[2018-02-05 22:07] lipanski commented on #25
@otavio any suggestions would be welcome, I was kind of stuck here :)

in percentual values, for sure. but overall mockito is [pretty fast](https://github.com/lipanski/mockito/blob/master/benchmarks.txt#L23) and Rust is fast as well. are you experiencing slow test runs and if so would you care to share some samples and/or numbers?

[2018-02-05 22:14] jupp0r commented on #25
@lipanski : I'm not sure what you are hinting at. Any large code base with good test coverage will have at least multi-minute test suites, even in "fast" languages. The link you supplied mentions ~4ms for creating a test mock. A C++ code base I work on at work has 17000 test cases, that makes more than a minute just when creating one mock per test case. Running tests in parallel (especially on mul

[2018-02-05 22:17] otavio commented on #25
I agree with @jupp0r here.

As a stopgap solution I am using following `build.rs` script inside my project:

[code]

This is far from optimal but at least allow our coworkers to trigger the tests using `cargo test` without bad surprises.

[2018-02-05 23:17] lipanski commented on #25
@jupp0r the 4.8ms were from 0.4.2 (I highlighted the wrong line). the last version for which I ran the benchmarks (0.8.0) clocks in at 17μs (mileage may vary of course).

[2018-02-15 19:24] tridius commented on #25
Is this feature still under consideration? I would love to use this crate for testing, but setting RUST_TEST_THREADS=1 for my project would get me killed by my team members.

[2018-02-15 19:35] otavio commented on #25
@tridius as we discussed here, there is no known solution for this problem.

How we'd "tell" a test which port it should use? Specifically, how we will have local server definition for each test.

I know it can be done, specifically having a return of mock method telling where it is going to run but it breaks existing users.

[2018-02-15 19:43] tridius commented on #25
Yeah I was thinking have the mock function just return the port as a part of the returned Mock struct. If it breaks existing users then it's just a major version increase no? So this is possible, but a longer term feature that would get grouped in to a bigger release?

[2018-02-15 19:48] estin commented on #25
For me workaround for multiple threads case is unique urls for each test:
 - starts one mock server
 - each test in separate thread (when `RUST_TEST_THREADS != 1`)  register unique urls
 - all tests are passed, because mock server has not collisions, and each test recieve expected response from server

P.S. Sorry for my poor English

[2018-02-15 19:50] otavio commented on #25
@estin using individual port or unique URLs work. It is mostly a matter of deciding which route to take. Essentially, it is a @lipanski call ;-)

[2018-02-15 23:08] lipanski commented on #25
@otavio

how do you set the host in your projects? do you expose a (public) setter? I've been mostly using constants or static values or at least I've never had the need for a public setter. if your project exposes public setters I guess I can run one server per mock (or maybe introduce a method/parameter to group several mocks under one server) and have the mock struct (or this other method) expo

[2018-02-16 08:45] estin commented on #25
Not to collide requests across different tests.
One rule for tests is "encapsulate all request-response checks for one http service in one test".
In my app I can do it with minimal effort, the app logic allow it.
And yes this "method" can not be applied for other apps with complex logic.

And mockito are fine and usefull for my cases

[2018-02-16 12:58] otavio commented on #25
In our specific case, we have a settings struct that holds the server address. Currently, I initialize it as a default value but I can easily make a macro to initialize it and change the value to comply with the one returned by the mock.

[2018-04-14 12:47] Diggsey opened #29 "Mediate access to mock server with a mutex"
The docs currently recommend running tests with `--test-threads=1`, but this means that none of the tests can be run in parallel.

A simple solution without changing the design would be to take a global mutex whenever the first mock end-point is created on a thread, and release that mutex whenever the last mock end-point is dropped.

[2018-04-14 19:44] lipanski commented on #29
it's not solving the core problem but it could allow tests not using mocks to perform in parallel, which is neat. would you be interested in making a PR?

[2018-04-18 14:27] Diggsey opened #30 "JSON Matcher is not order independent"
This results in randomly failing tests because keys happen to come through in a different order!

[2018-04-28 03:33] spamwax opened #31 "is it possible to add latency mocking?"
Thanks for the very useful crate.

For testing purposes, I need to mock a server that will return a 200 response after, say, 400ms!
Is it currently possible to do it?

[2018-04-29 21:15] lipanski commented on #30
thanks for reporting, I'll have a look.

[2018-05-01 10:50] lipanski commented on #31
this is not a feature of mockito per se, but you can do something like:

[code]

the `loop {}` at the end ensures that the mock doesn't get removed when the variable `mock` gets out of scope. you can replace it with some more clever mutex checks if you want, but this should work as well.

[2018-05-01 10:50] #31 closed

[2018-05-01 11:00] lipanski commented on #30
@Diggsey I've added a simple test https://github.com/lipanski/mockito/commit/2b41e9835a3384698d5e77a7ddd4fa70ad51a24e but I couldn't reproduce this. note that `Matcher::JSON` performs a strict checks (all keys have to be there, the order of the keys shouldn't matter though). if you're interested in a partial check, you can use `Matcher::Regex`.

if this doesn't help, please provide more details (i

[2018-05-01 11:15] Diggsey commented on #30
@lipanski https://github.com/serde-rs/json/issues/438

It happens if another crate enables the `preserve_order` feature on `serde_json`

[2018-05-01 11:50] lipanski commented on #30
@Diggsey nice find. did you identify the crate that does that? (mockito doesn't touch that option)

[2018-05-01 12:10] Diggsey commented on #30
No, I'm not sure there's a good way to find that out.

[2018-05-01 12:33] Diggsey commented on #30
@lipanski Whether this is a bug with mockito depends on the outcome of https://github.com/serde-rs/json/issues/438 - if serde_json decides not to change this behaviour then mockito will need to update the JSON matcher to use a custom comparison.

If the issue is fixed in serde_json, mockito should specify the new version of serde_json in its dependencies to ensure it doesn't get paired with the cu

[2018-05-28 16:58] otavio commented on #23
I believe https://crates.io/crates/difference might help to add this feature.

[2018-06-07 09:18] cpick opened #33 "WebSocket support"
I've been using Mockito to test my RESTy client code and I've recently started using some WebSocket endpoints as well.

Is there any interest in/has there been any thought about adding WebSocket mocking to Mockito?

If there is interest, I may be able to spend some time on it.

[2018-06-08 22:19] lipanski commented on #33
hi @cpick

I think this crate could include websocket support as long as it doesn't complicate things. the `http_muncher` crate that I use to parse http has some websocket support afaik (it's based on the node http parser).

PRs are welcome :cake:

[2018-06-10 19:22] lipanski opened #36 "Problem with mocks in doctests"
It seems that creating/asserting mocks inside doctests can produce flickering test runs. The two flickering tests are the ones under `# Asserts` in `src/lib.rs`. For some reason, doctests seem to be treated differently than unit tests in Rust.

The current workaround is to run doctests separately from unit tests with `cargo test --doc -- --test-threads=1`.

[2018-06-10 19:38] lipanski commented on #29
Closed by https://github.com/lipanski/mockito/pull/35
@Diggsey please let me know if this works for you. Also, if it happens that you're using mocks inside doctests, please check https://github.com/lipanski/mockito/issues/36

[2018-06-10 19:38] #29 closed

[2018-06-10 19:41] lipanski commented on #25
Please check https://github.com/lipanski/mockito/releases/tag/0.11.0

It doesn't solve this issue entirely, but it removes the need for appending `--test-threads=1` and, more importantly, tests that don't use mocks can be run in parallel.

[2018-06-17 21:32] kyrylo opened #38 "Test suite fails randomly (due to a possible race condition?)"
Hi, thanks for the library, it's fun and easy to use!

I suspect I hit a bug with mockito 0.11.0. I have a small test suite of 3 tests and 50% of the time it fails. It may be a race condition, however it's just a wild guess since I'm very new to mockito and I don't know how exactly it works.

I am using the following code: https://github.com/kyrylo/airbrake-rust/tree/reboot
You can clone the repo

[2018-06-18 18:54] lipanski commented on #38
@kyrylo thanks for reporting, I'll have a look

[2018-06-19 00:28] otavio commented on #38
@kyrylo try using one thread to run the tests and see if it continue to happen? In my case, it gives different output if run in parallel or serial.

[2018-06-19 06:35] kyrylo commented on #38
@otavio are you referring to the `--test-threads=1` option? It seems like it was removed in (or at least the need for it):
https://github.com/lipanski/mockito/commit/509a06f42889d3adbe8dbb8250c183edb9f68aeb

That said, I tried it and it still fails randomly, although with a slightly different error.

<details>
  <summary>% cargo test -- --nocapture --test-threads=1</summary>

[code]
</details>

[2018-06-19 12:06] otavio commented on #38
Yes. In my case using single thread makes it stable.

@lipanski seems to be the best to look why...

[2018-06-24 14:42] lipanski commented on #38
@kyrylo I couldn't figure it out yet. the changes in `0.11.0` seem unrelated because I tried your branch with `0.10.0` and got similar flickering results. `--test-threads=1` doesn't solve it either (as you mentioned above). will try to debug further during the next week.

[2018-06-24 17:17] lipanski commented on #38
ok, so I think I've solved it. there are two parts to this story:

(1) JSON responses coming from your code will randomly change the key order:

[code]

so the Regex matcher that you use in your tests won't work *all the time*. I suggest either figuring out a regular expression that can work around this key order problem or switching to `Matcher::JsonString` introduced with https://github.com/lipa

[2018-06-24 17:18] lipanski commented on #38
@kyrylo let me know if my previous comment solves your issues.

[2018-06-25 13:28] otavio commented on #38
But the tests are already marked as `#[test]` so why putting `test_` prefix as a requirement?

[2018-06-25 19:42] #23 closed

[2018-06-25 21:36] lipanski commented on #38
@otavio a PR is worth 1000 words - https://github.com/lipanski/mockito/pull/39

you can expand the ignored test to see what I mean. the test thread name was the only way (that I could figure out) to differentiate the main test threads from any of their sub-threads.

the PR removes the naming condition but you won't be able to create mocks from threads any more. not sure if that's such an important

[2018-06-25 21:48] otavio commented on #38
What use case you can think about creating mocks from threads?

[2018-06-26 10:08] lipanski commented on #38
@otavio things like https://github.com/lipanski/mockito/issues/26 (but I don't think it's very common so I'm not so into supporting it, unless proven otherwise). having different test function names sounds like more common and the outcome without https://github.com/lipanski/mockito/pull/39 can be more confusing to the user.

[2018-06-27 19:53] lipanski commented on #23
Relased with https://github.com/lipanski/mockito/releases/tag/0.12.0

[2018-06-27 19:55] lipanski commented on #38
I ended up merging #39 - simplifying things a bit but rendering it impossible to create mocks from within threads, which was a bit brittle anyway.

@kyrylo I recommend using [0.12.0](https://github.com/lipanski/mockito/releases/tag/0.12.0) and you'll only need to update your matcher (see my point (1) from my comment above). point (2) doesn't apply any more with the latest release.

[2018-06-27 19:55] #38 closed

[2018-06-27 20:18] otavio commented on #38
Just to let you know that I upgraded to 0.12.0 and it works like a charm ;-)

[2018-06-30 21:11] kyrylo commented on #38
Sorry for the late reply!

It looks like I was just misusing the library (the order issue). Thanks for digging into that, it didn't occur to me that the order could be different.

I was not aware of the `test_` convention. From now on I'm going to stick with it.

I had no luck with `preserve_order` (would be my most favourite solution), it doesn't seem to work for me (or I don't know how to enable

[2018-07-02 08:02] kyrylo opened #40 "Proxy support"
I use [reqwest](https://github.com/seanmonstar/reqwest) to make HTTP requests. Using that library...

...I specify a proxy server like this:

[code]

...I write a mock like this:

[code]

When I run my test, I get the following error:

[code]

As you can see, the request goes to `http://127.0.0.1:1234`, which is `mockito::SERVER_URL`.

I have tried:

* **using multiple `mock` calls**
    I wanted

[2018-07-03 12:12] lilith opened #41 "Verb <unknown> bug only occurs on 64-bit windows"
I'm encountering a bug that only occurs on 64-bit windows - it works fine on OS X, 32-bit windows, and 3 versions of ubuntu. Using rust beta-2018-06-30

[code]

https://ci.appveyor.com/project/imazen/imageflow/build/1067/job/ovesuwbxnqahed92#L617

code:
https://github.com/imazen/imageflow/blob/6d00cf44fe90b29dbac0bfe0a1aca495b7c72535/imageflow_helpers/src/licensing/test/mod.rs#L122

Have you seen

[2018-07-05 18:41] lipanski commented on #40
@kyrylo

the error `error[E0618]: expected function, found mockito::Mock` is produced because you called your variable `mock` which collides with the `mock` method.

[code]

---

I'd recommend - if possbile - testing the two parts of your app (the proxy and the proxied backend) in different tests or just mocking the proxy with the proxied backend response. this should be fairly easy:

[code]

hope

[2018-07-05 18:44] #40 closed

[2018-07-05 18:53] lipanski commented on #41
the appveyor 64-bit Windows tests for mockito seem fine. if you could update to 0.12 it would be interesting to run the tests with `MOCKITO_DEBUG=1 cargo test` (or just set the `MOCKITO_DEBUG` environment variable before running `cargo test`). this might help isolate the problem and see if it's some untested/buggy part of mockito or something else.

[2018-07-08 20:13] kyrylo commented on #40
That's awesome, thanks a lot! (and sorry for spamming your bug tracker with irrelevant issues).

[2018-07-09 08:18] lipanski commented on #40
@kyrylo no problem :)

[2018-09-12 12:50] kornelski opened #42 "Binary data in body?"
I'd like to test responses with binary data (images), but mockito seems to assume the body is UTF-8-encoded string.

Could you change `.with_body` to accept `AsRef<[u8]>` and store the body as `Vec<u8>`? This should make it work for both strings and binary data.

[2018-09-13 07:41] #42 closed

[2018-09-14 16:02] ozkriff commented on #27
`_` isn't even a variable (binding), it's just a part of a pattern matching syntax, like `mut`, `ref`, `|` etc.

[2018-09-14 17:19] lipanski commented on #27
@ozkriff good point. I tried to be more correct in https://github.com/lipanski/mockito/commit/55d36f3fc1eeb8e08a690d3feea275fdc5f52163

[2018-09-18 15:12] lilith commented on #41
Thanks. I was using 0.12, I believe.

[2018-11-18 12:38] #41 closed

[2018-11-18 14:40] #36 closed

[2018-11-23 16:40] dherman opened #52 "custom "Content-Length""
For HTTP HEAD requests, the response can include a Content-Length indicating the size of the resource without actually returning the resource in the body. When I try setting `"Content-Length"` headers with `with_header()` and no body, mockito seems to append `", 0"` to the header.

I can try to do a PR to address this but it'd be good to know what the best solution would be. One possibility that I

[2018-11-27 19:50] lipanski commented on #52
I'll have a look. thanks for reporting.

[2018-11-27 20:08] lipanski commented on #33
@sterlingjensen is there any way to allow mocking websockets without pulling in big dependencies? I'd prefer that, even if writing websocket tests would be a bit more verbose than without the extra dependencies. websockets are not such a common test scenario so I'd rather not have everyone depend on additional crates because of that (or at least not on big crates).

[2018-11-27 23:19] sterlingjensen commented on #33
@lipanski not without writing a websocket server and client.  I've been working on a greenfield implementation, because you're right - it wouldn't make sense to pull in a dependency that reimplements so much existing functionality.

[2018-12-18 13:19] xiaohulu opened #54 "How to mock http download file?"
[code]
use this method?

Thanks!

[2018-12-18 13:31] lipanski commented on #54
@xiaohulu that should work. it sets `Content-Length` for you.

on the other hand, if you want to download via `transfer-encoding: chunked`, that might not work - or at least I've never tested it.

[2018-12-19 01:01] xiaohulu commented on #54
Thanks!

[2018-12-19 01:01] #54 closed

[2018-12-19 14:38] kornelski commented on #25
I've managed to implement dynamic ports: #58

[2019-01-01 17:14] lipanski commented on #25
Released in [0.15.0](https://github.com/lipanski/mockito/releases/tag/0.15.0).

[2019-01-01 17:14] #25 closed

[2019-01-14 19:04] otavio opened #60 "Invalid instruction"
Hello,

Using 0.14 and 0.15 I get following backtrace:

[code]

[2019-01-14 19:19] otavio commented on #60
I did a `git bisect` and it seems the culprit is:

[code]

It was introduced on #51.

[2019-01-14 20:17] otavio commented on #60
The error happens here:

https://github.com/lipanski/mockito/blob/459049a780c49e8837c77cba047b76d5606b322e/src/lib.rs#L541-L544

[2019-01-15 00:37] otavio commented on #60
And now full debug output:

[code]

[2019-01-15 18:52] lipanski commented on #60
@otavio could you share some code of how to reproduce this? (I mean I could infer it from your debug traces but maybe you have something simpler available)

[2019-01-15 18:55] otavio commented on #60
You can use https://github.com/otavio/updatehub/; if you use it and upgrade to 0.15 it fails.

I tried to isolate it and could come with a test case but I am not sure it is the same error.

[2019-01-20 04:31] xiaohulu opened #61 "How to write mock test when use `json()`"
When I write code like below

[code]
The test pass!

But When I need pass data with `json()`, The test failed

[code]

The errors is

[code]

Help, Thanks!

[2019-01-21 03:54] xiaohulu commented on #61
Operate system is Windows 11

Rustc version is 1.32.0

mockito version is 0.15

[2019-02-03 03:12] arahalevich-move commented on #60
I get very similar error but using `Matcher::JsonString`. And it happens randomly. Say I have just one test with one mock with one request. I ran it 10 times and it fails 2 or 4 times out of 10.
It fails at `github.com-1ecc6299db9ec823/mockito-0.15.0/src/lib.rs:547`

[2019-02-03 06:31] saks commented on #60
Minimal code to reproduce:
`Cargo.toml`:
[code]

`src/lib.rs`:
[code]

then run test multiple times:
`for i in {0..20}; do cargo t; done`
for me it fails several times

[2019-02-04 21:05] #60 closed

[2019-02-04 21:12] lipanski commented on #60
@otavio Fix released as part of 0.15.1.

[2019-02-04 21:18] lipanski commented on #61
@xiaohulu could you try with 0.15.1? is the initial problem still occuring or just the Windows failure? what's the simplest way to reproduce the Windows problem? please share a test case.

[2019-02-05 10:46] lipanski commented on #61
@xiaohulu glad to hear that.

[2019-02-06 20:29] #52 closed

[2019-02-06 20:32] lipanski commented on #52
@dherman took a while, but https://github.com/lipanski/mockito/pull/63 should do the job.

if you set `content-length` via `#with_header`, it will not be overriden any more. also, in the case of `HEAD` requests no body will be sent (previously the crate would either set an empty, 0 length body, or it would allow the developer to set a body, which I guess was wrong).

let me know if it works.

[2019-02-06 21:33] nbigaouette-eai opened #64 "Mock with latency?"
I'm mocking an API that returns a json with content saying if a previous query is running or completed. So I have to poll that API until the initial query is complete. For example:
* From 0 to X ms, `GET` on `/status` should return `{"status": "starting"}`
* From X to Y ms, `GET` on `/status` should return `{"status": "running"}`
* From Y ms and updward, `GET` on `/status` should return `{"status"

[2019-02-07 09:11] lipanski commented on #64
yup, the deadlock is a known issue, see https://docs.rs/mockito/0.15.1/mockito/#limitations and https://docs.rs/mockito/0.15.1/mockito/#threads (but there are reasons to keep it for now, especially the ability to run non-mockito tests in parallel).

(I'll have to think a bit more about a solution to your problem though)

[2019-02-07 16:06] nbigaouette-eai commented on #64
I've hacked something to bypass this issue.

In the "main" test thread, I create all the mocks for the identical queries, with the different return values. I place those mocks in a vector in reverse order so that the last in the vector is the first one I want mockito to pick up and use.

This way, mockito will pick up the last mock of the vector to serve the reply. I then move the vector of mocks

[2019-02-13 22:33] kornelski commented on #64
I'd love something like `with_body_fn`, too.

I want to test how my code behaves while a request is in progress to ensure I don't have any race conditions, but to test that reliably in CI I need an artificially slow mock response.

If I could do `.with_body_fn(|| {thread::sleep(5sec); "boom"}` that would be great.

[2019-03-20 04:40] liamdawson commented on #64
I want to test the parallelism of a function, to ensure my `rayon` iterator still returns the results in the order they appeared in the original iterator. I can't really test this without a delay.

[2019-04-24 12:36] dbrgn opened #67 "Record requests"
Is there a way to access the requests on a mock instance?

If not, that would be a great feature to have :)

[2019-04-27 08:19] ignatenkobrain opened #68 "Are users supposed to run mockito-server?"
I was looking at packaging of mockito for Fedora , but I am not sure if we need to package this binary or not.

[2019-04-27 14:21] lipanski commented on #68
no, mockito is mainly user as a library (included inside other applications). running it as a binary was only meant for experimenting. not sure this answers your question.

[2019-04-27 15:24] ignatenkobrain commented on #68
Yes it does... probably it can be moved to "examples" instead of `main.rs`?

[2019-04-27 15:26] lipanski commented on #68
@ignatenkobrain that makes sense :+1:

[2019-04-27 15:36] lipanski commented on #67
@dbrgn well technically it would be fairly easy to expose [the STATE](https://github.com/lipanski/mockito/blob/master/src/server.rs#L55) which holds all the mocks. it's a mutex so accessing it might be a bit more painful, but not impossible. however, I'd rather keep these internals private to avoid complicating things. the only way I'd expose it is via a polished read-only interface (so not the wh

[2019-04-27 20:44] dbrgn commented on #67
My main goal would be to assert that the correct payload (and maybe also the correct headers) were sent in the request.

Maybe allowing readonly access to request payload and headers might be an option?

[2019-04-28 06:45] #68 closed

[2019-04-28 06:53] lipanski commented on #67
@dbrgn isn't this problem solved by [matchers](https://docs.rs/mockito/0.17.1/mockito/#matchers)? for example, if you'd like to make sure your request headers were matched - I'd set the `match_header` function when creating the mock. in order to match the request body, you can use `match_body`. both methods accept the different style of matchers (strict, regex, json etc.). requests that don't have

[2019-04-28 22:45] Thoma5 opened #70 "Naming conflict with Mockito (Java)"
I found this lib coincidentally while taking my first steps in rust and wanted to make you aware of a possible naming conflict:
[Mockito](https://github.com/mockito) is a well known and widely used java mocking framework.

[2019-04-30 19:11] lipanski commented on #70
I've also realised this at some point but the renaming ship had sailed the moment I got that awesome logo :)

I expect most searches to come via crates.io so it's not that bad.

[2019-04-30 19:11] #70 closed

[2019-05-22 09:13] lucab opened #71 "docs: how to match URL query parameters?"
I have an usecase where I want to match the presence of some URL query parameters in the client request. I haven't find any such example in docs and test, and I'm having an hard time writing the Matcher for that.

The scenario is that an endpoint requires multiple URL query parameters (say `a` and `b`), so I want to match `endpoint?a=foo&c=bar&b=baz` and similar permutations (possibly ignoring the

[2019-05-22 19:50] lipanski commented on #71
@lucab one option would be to use the Regex matcher for the path argument - something like [this](https://docs.rs/mockito/0.17.1/mockito/index.html#example-6) - but applied to query parameters:

[code]

would this work for you? otherwise I could very well imagine introducing a proper query parameter matching method - like `mock("GET", "/").match_query(...)`, which takes a `HashMap<String, Into<Mat

[2019-05-22 19:50] #67 closed

[2019-05-22 20:59] dbrgn commented on #67
@lipanski sorry for the late answer. Yep, that looks like it'll solve my problem :slightly_smiling_face:

[2019-05-24 07:20] lucab commented on #71
That was my original approach, but after writing and running the regex-matcher (and failing, duh), I realized that permutations are valid too: {a,b,c}, {c,a,b}, {b,a}.
I guess it is theoretically possible to encode this in a regexp (I didn't actually try, though), but it may not be very ergonomic.

[2019-06-11 07:10] dbrgn opened #72 "Matcher::AllOf"
Is there a way to do something like this currently?

[code]

If not, maybe `Matcher::AllOf(Vec<Matcher>)` could be a good idea?

[2019-06-12 19:13] lipanski commented on #72
there's no easy way to do this right now. having a `Matcher::AllOf` sounds like a good idea. PRs are welcome :bee:

[2019-06-18 15:23] gakonst commented on #71
That's my current approach, is there some way to retrieve the URL query arguments and return them in the body, similar to an echo mock?

[2019-06-18 15:52] lucab commented on #71
@gakonst I'm curious, how do you handle valid arguments permutations?

[2019-06-22 07:52] ignatenkobrain opened #73 "rand 0.6"
Hello,

Maintainer of mockito in Fedora here. I would appreciate if you would update rand dependency to latest 0.6 so that we don't have to keep 0.5.x around anymore.

Thanks!

[2019-06-26 18:58] JeanMertz commented on #73
I would like to see this happen as well. Rand 0.6 [adds support](https://github.com/rust-random/rand/pull/541) for the `wasm32` target with `wasm-bindgen`, which would allow me to use Mockito as a mocking library for [wasm-bindgen-based tests](https://rustwasm.github.io/docs/wasm-bindgen/wasm-bindgen-test/index.html).

[2019-07-11 08:15] #73 closed

[2019-07-11 08:22] #72 closed

[2019-07-11 18:43] lipanski commented on #71
@lucab @gakonst I managed to improve the current behaviour by adding `Mock#match_query`, `Matcher::UrlEncoded` and `Matcher::AllOf`. When used in combination, they should simplify the problem of matching query parameters significantly. Please give it a try.

More details here: https://docs.rs/mockito/0.18.0/mockito/#matching-by-query

Released as part of [0.18.0](https://github.com/lipanski/mockit

[2019-07-11 18:43] #71 closed

[2019-07-13 18:12] gakonst opened #79 "Assert at least N requests"
Currently `.expect(NUMBER)` & `.assert()` allow checking that an exact number of queries were made to a mock. It'd be nice if we could do `.check(CONDITION)` to check if there were at least N or no more than N requests, instead of an exact number

[2019-07-13 18:30] lipanski commented on #79
you mean something like `fn expect_at_least(count: usize)` and `fn expect_at_most(count: usize)`? otherwise I don't really understand the point of a condition - please provide some more concrete examples.

[2019-07-14 06:21] gakonst commented on #79
Yes, exactly. (pardon the bad phrasing, was late when I was writing up the issue)

[2019-07-14 11:16] lipanski commented on #79
:+1: that shouldn't be hard to implement. PRs are welcome though :)

[2019-07-19 11:53] kornelski commented on #64
I've made a PR for this.

[2019-07-20 08:41] #64 closed

[2019-07-20 08:46] lipanski commented on #64
Released with [0.19.0](https://github.com/lipanski/mockito/releases).

[2019-07-27 08:07] matteosister opened #81 "graphql mocks"
Hi! First of all: thanks for this library!

We use mainly graphql endpoints, and the semantics of exposing a graphql server via http is pretty standard. A POST request with json body, with query (string) and variables (json) keys.

Matching on graphql queries is really not trivial, and I'm experimenting with a library that uses [graphql_parser](https://crates.io/crates/graphql-parser) to match on

[2019-07-27 08:54] lipanski commented on #81
hi Matteo

thanks a lot for the appreciation!

thinking out of my head I'd say a GraphQL matcher would be a bit too specific for this crate.

but based on the [Json](https://docs.rs/mockito/0.19.0/mockito/enum.Matcher.html#variant.Json) and [JsonString](https://docs.rs/mockito/0.19.0/mockito/enum.Matcher.html#variant.JsonString) matchers I could imagine introducing something like a `PartialJson` a

[2019-07-27 13:56] matteosister commented on #81
for simple queries we already do something with Json and JsonString. And it's somewhat ok, not too easy or enjoyable though.

A graphql [http layer](https://graphql.org/learn/serving-over-http/#post-request) is something like:

[code]

where the query could be (as a string):

[code]

right now, we are matching on the variables part, which is a simple json. It would be great to have a generic match

[2019-07-27 15:37] lipanski commented on #81
as mentioned in my previous comment, I'd avoid implementing anything GraphQL specific atm in Mockito but I'd be open to introducing the following matchers:

- `Matcher::PartialJson(serde_json::Value)`
- `Matcher::PartialJsonString(String)`

...which should help you out in your task. PRs are welcome :)

[2019-07-28 19:49] matteosister commented on #81
@lipanski https://github.com/lipanski/mockito/pull/82

[2019-07-29 17:39] lipanski commented on #81
#82 was released in 0.20.0

[2019-07-29 17:39] #81 closed

[2019-08-14 14:41] apiraino opened #83 ""501 Not Implemented" on mockito 0.20 when mock not found"
Hi!

I managed to produce a weird error. After a long debugging session I think that it is my fault, but still I find that the error reporting confusing and - most importantly - I did not have this issue with `mockito = 0.19`.

I run my integration tests in a separate crate. The mockito instance is created in the tests crate with `mockito:start()`, the crate return the mocked URL address.

When I

[2019-08-22 08:16] valnoel opened #84 "Code coverage with tarpaulin"
Hello!

I'm trying to integrate mockito in some unit tests for the [rs_amqp_worker](https://github.com/media-cloud-ai/rs_amqp_worker) project (see the related [PR](https://github.com/media-cloud-ai/rs_amqp_worker/pull/9)), and I cannot get through the code coverage computed with [tarpaulin](https://github.com/xd009642/tarpaulin).

My issue is that the coverage randomly fails (on [Travis](https://t

[2019-08-22 20:19] lipanski commented on #84
I'm not familiar with tarpaulin or how it's built but one thing to note is that Mockito tests are actually [run sequentially](https://github.com/lipanski/mockito/blob/f1c588113ae57cb41ebde939dd33c70f61431e10/src/lib.rs#L948) - not in parallel. this is handled internally via a [thread_local mutex](https://github.com/lipanski/mockito/blob/f1c588113ae57cb41ebde939dd33c70f61431e10/src/lib.rs#L505). th

[2019-09-10 16:32] calvinlauco commented on #83
Not sure if it is the same problem as yours, but you have to assign the result of `mock(..).create()` to a variable as described in the example:
[code]

The reason is when the mock get dropped, it clears all the `mocks` in `state`. So you have to assign it to a placeholder to avoid the variable get dropped before you request.

I think it should state more clearly the importance of keeping the resu

[2019-11-07 16:24] thomasetter opened #86 "Exact Matchers on get strings with '?' inside an AnyOf matcher return 501 since 0.18.0"
I have created a minimal [repro](https://github.com/thomasetter/mockito_query_bug_repro).

Bisecting pointed to #77 as the PR which broke this.

#83 could be related, as the symptoms in both cases are `501` errors.

The [test](https://github.com/thomasetter/mockito_query_bug_repro/blob/master/tests/repro.rs) which fails is:
[code]

I did not see any obvious reasons why this got broken by #77, do y

[2019-11-09 19:41] lipanski commented on #86
@thomasetter I managed to figure out the problem. before #77 the path and query parts were being matched together. though #77  preserved backwards compatibility in regards to matching the query part in calls like `mock("GET", "/path?with_query")`, under the hood this is translated right away into something like `mock("GET", "/path").match_query("with_query")`. this happens here: https://github.com

[2019-11-09 19:47] lipanski commented on #83
@apiraino sorry for the late reply. is this still an issue? would you be able to explain how to reproduce this in more detail? maybe with some code (simplified)? otherwise I can't really help much.

the possible reason why you're getting `501 Not Implemented` instead of `501 Mock Not Found` is that some HTTP clients might be parsing the status code only and fetching the status text by matching the

[2019-11-10 00:04] thomasetter commented on #86
Thanks for the feedback!

I have looked into this some more and I think I found a way which should not break much.

I created a change in #87 which basically implements (2) but still supports the `match_query` interface.

What do you think, would something like that PR work for you?

[2019-11-11 17:04] #86 closed

[2019-11-11 17:09] lipanski commented on #86
Released in 0.22.0

[2019-11-14 06:45] CliffHan opened #91 "Adding accept-range support?"
I could add a file by "with_body_from_file()" method, but I couldn't find a way simply adding the "range" support with mockito.

Could it be handled within?

[2019-11-15 05:22] lipanski commented on #91
@CliffHan what do you mean by the "range" support? can you provide an example or your use case?

[2019-11-15 05:54] CliffHan commented on #91
I'd like to test a client which send a http request with "range" in request header.
For example, a request has the "range=0-1023" in the header, means it expects the first 1024 bytes of the file.
With current mockito, it seems that I had to make lots of mocks with different matchers of different ranges, and set the body with different part of the response file.

[2019-11-15 07:56] apiraino commented on #83
Hi @lipanski thanks for the reply. In the end I've replaced mockito with a man-in-the-middle proxy to mock my integration tests. If I have a chance, I'll get back to it and try harder to provide a useful test case :)
Meanwhile I'll close this issue so it won't hang around. I can always reopen it in the future.

[2019-11-15 07:56] #83 closed

[2019-11-27 19:27] ggriffiniii opened #92 "Consider exposing server"
Hi, I just discovered mockito and it looks pretty useful. One question I had when reading the examples and docs and having a brief look at the implementation. Have you considered exposing the server and letting users control when a server is started? The global nature of the server was the first thing that stood out to me as a quirk when using the library. The fact that all my tests were no longer

[2019-11-28 13:30] lipanski commented on #92
@ggriffiniii interesting idea. how would expose the server address to your code though (in the least intrusive way)? talking about [this](https://github.com/lipanski/mockito/blob/master/src/server.rs#L65-L77). maybe thread-local variables could be an option but they would only work in the main thread.

[2019-11-28 15:57] ggriffiniii commented on #92
I was thinking server would just have methods that return the address and URL. They wouldn't need to be global or have any synchronization since code under test would have exclusive ownership of the server variable (unless it chooses to share it obviously).

[2019-12-02 20:43] lipanski commented on #92
@ggriffiniii in this case, you'd need to expose a function that sets your remote URL, correct? is there any other way - maybe with the use of compiler flags? I'm not sure how common it is to expose the remote URL as function. it's not the end of the world but generally I wouldn't want to introduce support code only for the purpose of testing. could you provide a more detailed example (one that con

[2019-12-02 22:00] ggriffiniii commented on #92
@lipanski I'm not quite sure I understand correctly. It sounds like you're asking how I would write my code to be tested, such that it could make requests to the dynamic url of the test server. Am I understanding that correctly?

If so, I don't see how it's that different from using mockito::server_url() today. Here is an example (this is not my code, just the first example on github for a search

[2019-12-15 12:01] lipanski commented on #92
if you browse a bit through the [list of Rust projects on Github using Mockito](https://github.com/search?q=%22mockito%3A%3Aserver_url%28%29%22&type=Code) you can see two types of projects:

1. Projects that use dependency injection to expose the *base URL* and hook it up to `mockito::server_url()` during tests.

Some examples:

- your code snippet from above
- https://github.com/Zarthus/opentdb-r

[2019-12-16 10:21] lucab commented on #92
@lipanski I maintain `zincati` in the (1) list and `afterburn` in the (2) list. I think I can easily switch the latter to inject the server base URL. I would say it also feels better as it makes resource ownership local, so I'm overall +1 on this.

A couple of question:
 * what would be the actual signature of `run`?
 * if we make this fully parallel, people will likely start hitting the limit of

[2019-12-16 23:07] ggriffiniii commented on #92
Yes, my solution would not allow conditional compilation to override the server address. I've honestly never had that to be an option for an app I've written as the url almost always comes from some type of runtime configuration.

I started writing my own implementation, initially just to solidify how this could be done, but I ended up liking the results quite a bit and just published it on [httpt

[2019-12-17 19:58] lipanski commented on #92
@ggriffiniii sounds good. are you still interested in porting those changes to Mockito? if so, I'd be happy to accept such a PR.

I'd also be curious how we could implement the server pool idea, mainly how you'd make sure that tests running in parallel test threads never end up using the same server instance.

[2019-12-17 22:23] ggriffiniii commented on #92
At this point I'm pretty happy with [httptest](https://docs.rs/httptest) so my motivation for submitting a PR has been nullified. If you are still interested in making this change to mockito or if you want to take any other parts from httptest and pull it into mockito I would be happy to help.

Regarding how the server pool idea could be implemented have a look at [httptest::ServerPool](https://do

[2019-12-18 02:32] zacps opened #94 "Add support for multiple endpoints"
I'm testing an application which has support for falling back to other endpoints. Because the server is known the API url never changes and isn't configurable.

I want to test that parts of the application will correctly fall back to other endpoints if they're configured. To do that I would need the ability to start additional mock servers with their own mocks.

[2020-01-05 22:47] zacps opened #95 "Feature: Allow passing a closure to validate requests"
To support more complex validation I would like the ability to use a closure (probably `Fn`) as a matcher.

[2020-01-09 18:18] ggriffiniii opened #96 "Lifetime documentation seems incorrect"
I think the lifetime documentation is a little incorrect and misleading. I've pasted the section of the documentation below for reference. In the example it's noted that _m1 and _m2 require different names, but I don't believe that's true. It would have the same behavior even if they were both called _m. Adding a new let binding will not change the lifetime of a previous let binding of the same na

[2020-01-09 19:33] lipanski commented on #94
@zacps would the solution proposed in https://github.com/lipanski/mockito/issues/92 work for you? if so, we could look into implementing that.

[2020-01-09 19:37] lipanski commented on #95
@zacps I'm a bit sceptical about exposing the request object. I changed the request parsing implementation quite a few times in the past and I still don't consider the interface stable enough to expose it. on top of that, I think it would add a way too complex use case to the library.

[2020-01-09 19:58] lipanski commented on #96
yup, seems like it. don't remember exactly the context back when I wrote that, could be that this was covered in a later Rust version or my test was faulty.

fixed by https://github.com/lipanski/mockito/commit/b65d5b70e349ef52a1d1e7a4c0ea3d3a5ff47b99

[2020-01-09 19:58] #96 closed

[2020-01-10 05:52] zacps commented on #95
I can understand the hesitation to expose a potentially unstable API. However, the current matching system is quite limited.

As for complexity, eh, the current API surface is small enough I don't think it's a concern.

[2020-01-13 15:19] xneomac opened #97 "Different responses for the same endpoint"
I would like to write theses mocks and I would like the first response to be a 200 and the next 4 to be 404.

[code]
Is it already possible? Can it be an interesting feature?

[2020-01-29 13:49] Jonathas-Conceicao opened #102 "Release new minor version"
Hello, any idea of when a new minor version can be released? On the recent commits there's a version bump for packages, like percent-encoding. I need to reduce binary size on a project I work on that depends on mockito, a new patch would work perfectly for us.

[2020-01-30 17:07] lipanski commented on #102
Just released [0.23.0](https://github.com/lipanski/mockito/releases/tag/0.23.0)

[2020-01-30 17:07] #102 closed

[2020-02-03 15:10] ChrisGreenaway opened #103 "Connection closed against the specified behaviour of HTTP 1.1"
In the HTTP 1.1 specification, the default is to keep the connection open after processing a request.

The spec says:

However mockito closes the connection after processing every request.

It causes the following test to fail (dependent on machine / timing):

[code]

[2020-02-03 15:23] ChrisGreenaway commented on #103
Possible workaround: use `.with_header("Connection", "close")` on every mock.

[2020-02-05 16:36] lipanski commented on #103
@ChrisGreenaway something like this https://github.com/lipanski/mockito/pull/104 ?

[2020-02-05 16:59] ChrisGreenaway commented on #103
@lipanski - that's a change that should make my test pass.

Of course, the question this issue suggests is: what happens if someone wants to test with `Connection: keep-alive`. They can set the header on the mock, but the connection will get closed anyway. I appreciate that fixing that would require quite a substantial change to how connections are handled and moves this library substantially towa

[2020-02-05 17:02] lipanski commented on #103
yeah, I was thinking about that but indeed it would require changing the HTTP client implementation more significantly. when the `keep-alive` discussion arises, we can revist. for now I'll just deploy the default header fix. thanks for reporting the issue :1st_place_medal:

[2020-02-05 17:02] #103 closed

[2020-02-05 17:05] lipanski commented on #103
released as 0.23.1

[2020-02-06 06:49] eupn opened #105 "Proposal: return status with a body from fn"
Hello and thank you for your efforts and great HTTP mock library! I use it extensively.

I have some more of an edge use-case when I want to test my retry logic. For that purpose, I've created a mock that will respond with an error for some `N` amount of requests and after that, it'll respond without the error.

My current implementation is looking like this:

[code]

As you can see from the code,

[2020-02-07 08:07] lipanski commented on #105
I think an easier solution (both on your side and on the library side) could be the one implemented in https://github.com/lipanski/mockito/pull/99 - also check the related issue. would that solve your problem?

if we go with something around your proposal, I'd like to include the possibility to update headers as well and turn it into something like `with_response_from_fn`, which would return a tup

[2020-02-10 14:14] Guara92 opened #106 "Deadlock creating 2 times the same mock in dev mode"
Hi,

I'm trying to use mockito for development purposes other than tests, and I'm facing an issuing using mockito in this way.
We have a web service based on actix and juniper, when a graphql request is handled the service will call another service.
I'm trying to mock this external calls but, the first request is correctly mocked, the following request never returns from the Mock::create() functio

[2020-02-10 20:10] lipanski commented on #106
@Guara92 is the mock created from within a thread by any chance?

[2020-02-10 22:39] Guara92 commented on #106
@lipanski Yes, actix spawn different threads.

[2020-02-11 08:14] lipanski commented on #106
@Guara92 unfortunately that is not supported in Mockito. you have to create your mocks from within the main thread. you can still run your application from threads but the mocks have to be created from the main thread, otherwise you experience this locking behaviour. this is documented [here](https://github.com/lipanski/mockito/blob/master/src/lib.rs#L79-L82) and the reason is explained [here](htt

[2020-02-11 08:14] #106 closed

[2020-02-19 11:52] ignatenkobrain opened #107 "test_assert_with_last_unmatched_request fails on Fedora"
[code]

I originally saw this both on openSUSE and Fedora with 0.22, so today I was updating mockito and found that it still happens on 0.23.1.

I can't reproduce this on my laptop, but can easily reproduce this in Fedora/openSUSE build infrastructure.

Let me know any details you need.

[2020-02-19 21:28] lipanski commented on #107
@ignatenkobrain could be the colors. does the environment you're running the tests in support colors? can you enable this?

otherwise try running `cargo test --no-default-features` instead. this command disables the color codes, which is also how I'm running the [Windows tests](https://github.com/lipanski/mockito/blob/master/.appveyor.yml#L22).

[2020-02-19 21:41] ignatenkobrain commented on #107
It doesn't get tty, so no colors I guess. Would it be possible to check if terminal supports colors and skip the tests if not?

[2020-02-20 08:00] lipanski commented on #107
@ignatenkobrain not sure Rust provides compiler flags for that that one could check. if you have any ideas let me know but as mentioned earlier, just run your tests with `cargo test --no-default-features`, which disables the colour tests (the test cases are still covered, just the colors won't be checked). let me know if we can close this.

[2020-02-20 14:05] ignatenkobrain commented on #107
Thanks!

[2020-02-20 14:05] #107 closed

[2020-02-21 11:09] clux opened #109 "Compile error on latest stable"
Pulled in 0.23.2 and getting this error on 1.41.0:

[code]

[2020-02-21 11:20] clux commented on #109
Seems to be caused by https://github.com/davidpdrsn/assert-json-diff/issues/13

[2020-02-21 12:28] lipanski commented on #109
Thanks for opening the issue. https://github.com/lipanski/mockito/pull/110 should fix this, hopefully once and for all.

[2020-02-21 12:28] davidpdrsn commented on #109
I maintain assert-json-diff.

TLDR: mockito was using API hidden from the docs and I made a breaking change to that API. I have released a new version with public stable functionality that should be used instead.

I will submit a PR to mockito today that fixes it but for now you can pin to the previous version of assert-json-diff by putting `assert-json-diff = “=1.0.2”` in your Cargo.toml.

I wish

[2020-02-21 12:33] davidpdrsn commented on #109
PR with the fix https://github.com/lipanski/mockito/pull/110

[2020-02-21 14:52] #109 closed

[2020-02-21 14:55] lipanski commented on #109
Released as 0.23.2

Thanks for being proactive about this @davidpdrsn :cake:

[2020-02-29 02:36] dbr opened #111 "Mocks leak across tests"
I had one test which setup a few mocks. I then started writing a second test which used some of the same endpoints

When I ran the tests, I expected them to fail (and was going to use the error messages to help setup the required mocks), but to my surprise they passed. If I use `--test-threads=1` things work as expected

I think this is a side-effect of #35 - the tests will only be made single-thr

[2020-02-29 04:05] dbr opened #112 "Warning on missing .create()?"
Minor thing, but it can be easy to forget to put the `.create()` call when creating a builder (something I found particularly when using `with_body()` with multi-lines strings)

Perhaps the `impl Drop` could warn about this in some way - e.g

[code]

Additionally, adding the `must_use` attribute to the return of `create()` may help people avoid forgetting to assign the mocks to objects as per [the

[2020-03-08 11:48] lipanski commented on #111
nice catch and thanks for reporting. I would also favour #92 as a solution rather than going back to the `--test-threads=1` days.

[2020-03-08 11:53] lipanski commented on #112
@dbr both valid points. care to open a PR? otherwise I'll add it to my list but won't get to it too soon.

[2020-03-10 03:30] dbr commented on #112
Yep shall do!

[2020-03-10 09:57] vasilakisfil commented on #33
I would also need support for websockets :/ Websockets are becoming more and more common..

@lipanski I think it's fine as long as the websocket support is put under a feature flag ? So that you don't pull in all dependencies if you want to mock just http requests.

[2020-03-15 19:39] lipanski commented on #112
@dbr released in [0.24.0](https://github.com/lipanski/mockito/releases/tag/0.24.0) - thanks!

[2020-03-15 19:39] #112 closed

[2020-04-05 09:22] s97712 opened #115 "support read request info in `body_fn`"
support read request info in `body_fn`, then we can create different responses based on request info

[code]

[2020-04-05 10:35] lipanski commented on #97
Released in [0.25.0](https://github.com/lipanski/mockito/releases/tag/0.25.0).

[2020-04-05 10:35] #97 closed

[2020-04-05 10:43] lipanski commented on #115
@s97712 as mentioned in https://github.com/lipanski/mockito/issues/95, I'm a bit sceptical about exposing the request object at the moment or in the near future. I also think this would make the interface a bit too complex.

on the other hand, did you have a look at [all the available matchers](https://docs.rs/mockito/latest/mockito/enum.Matcher.html) and [ways to match the request parts](https://

[2020-04-15 13:42] frondeus commented on #79
I think this is ready to be closed

[2020-04-15 13:52] lipanski commented on #79
@frondeus indeed.

Released in https://github.com/lipanski/mockito/releases/tag/0.23.0

[2020-04-15 13:52] #79 closed

[2020-05-02 22:55] sagebind opened #117 "Match against multiple header values"
For my HTTP client I now have the need to assert that repeated headers are being sent or not with the correct values and number of times. For example, I kind of expected the following to work:

[code]

I want to assert that `x-header` is present twice in the request, one with the value `some-value1` and another with the value `some-value2`. After looking at the source, I now understand that this w

[2020-05-19 19:54] bbigras opened #118 "Could mockito provide an URL macro"
something like:

[code]

instead of:

[code]

that would do the same thing.

[2020-05-20 18:41] lipanski commented on #118
@bbigras thanks for raising the issue. mid/long-term I'm looking into getting rid of those compiler flags entirely in favour of using one or more server variables per test - see the discussion around https://github.com/lipanski/mockito/issues/92 which enables several other things (among which full parallel tests). for this reason I don't think it's worth adding such a macro right now.

[2020-05-20 18:45] bbigras commented on #118
Perfect. Thanks!

[2020-05-20 18:45] #118 closed

[2020-06-16 00:50] cakekindel opened #121 "values with spaces from serde_urlencoded don't match Matcher::UrlEncoded"
trivial example to reproduce:
[code]

[2020-06-16 00:55] cakekindel commented on #121
this is on:
- rust 1.43.1
- mockito 0.25.2
- serde 1.0.111
- serde_urlencoded 0.6.1 (latest)
- serde_urlencoded 0.5.5 (pinned by `reqwest`)

[2020-06-16 00:57] cakekindel commented on #121
perhaps a potential solution might be to use a dedicated URL encoding / decoding library (like `serde_urlencoded` rather than `percent-encoding`?

[2020-06-22 12:35] lipanski commented on #121
@cakekindel fair point. would you like to open a PR to switch the matcher to using `serde_urlencoded`? otherwise I'll have a look when I get some time.

[2020-06-23 20:33] cakekindel commented on #121
id love to! ill set aside some time soonish to do so.

[2020-06-24 06:12] lipanski commented on #121
@cakekindel great, thank you!

[2020-06-24 14:27] steffenix opened #122 "expected item after attributes"
I am trying to use the basic example from the library when I add the
[code]

I get the error:

[code]

[2020-06-24 14:47] #122 closed

[2020-06-24 15:23] steffenix commented on #33
Any libraries that can be used while this get implemented in mockito?

[2020-06-28 10:17] #121 closed

[2020-07-17 08:35] ShehriyarQureshi opened #126 "Update example code in documentation"
The code in the [first example](https://docs.rs/mockito/0.26.0/mockito/#example)

[code]

 gives a compiler error `expected item after attributes` (also raised in issue #122 ).

I fixed it by replacing the `let` statement with a `const` one. If this is the right way to do it, the documentation should be updated with the correct code.

[2020-07-25 07:34] lipanski commented on #126
@ShehriyarQureshi thanks for reporting this. I updated the documentation by adding an explicit `fn main { ... }` around the code: https://github.com/lipanski/mockito/commit/9f74586473ed361bdee7e20fa5f1ed82fbc9c681

do note that [Rust wraps doc tests](https://doc.rust-lang.org/rustdoc/documentation-tests.html#pre-processing-examples) inside `fn main { ... }` by default so that's kind of implied whe

[2020-07-25 07:34] #126 closed

[2020-08-16 03:59] WasabiFan opened #127 "HTTPS/TLS support?"
I have an HTTP client library that I test with mockito. One of the recent additions is support for trusting custom TLS root certificates, and it would be nice to include this in my unit test coverage. However, as far as I can tell, there's no built-in support for HTTPS within mockito, nor general solution that I've seen.

Firstly, are there existing solutions or workarounds here? Perhaps something

[2020-08-17 09:45] lipanski commented on #127
@WasabiFan thanks for raising the issue. I feel like your feature is a bit too specific for this crate, though we could revisit after https://github.com/lipanski/mockito/issues/92 (which touches the server part) and only if we can make those tls dependencies optional. for now I would recommend to test the custom TLS root certificates in isolation, if you can.

[2020-08-21 05:30] WasabiFan commented on #127
:+1: got it, thanks for the context!

I think TLS support can be done as purely a wrapper around existing functionality, so while it might be convenient as a built-in feature, it could also be done as a separate crate (which acts as an HTTPS->HTTP proxy) without too much trouble. Either way, definitely agreed on the dependencies.

I did some cursory testing with [rust-native-tls](https://github.co

[2020-10-16 08:44] chess4ever commented on #95
We have an use case where we would like to partially match a binary body. This would be possible if this feature would be available.

[2020-10-16 16:19] lipanski commented on #95
@chess4ever I think this could be solved with a new matcher, similar to https://github.com/lipanski/mockito/pull/43 (but as a matcher). we could introduce it as `Matcher::Partial(String)` or `Matcher::Partial(Vec<u8>)`

[2020-10-19 08:50] torrefatto commented on #95
Hi @lipanski! Thanks for replying! I was preparing a [PR](https://github.com/torrefatto/mockito/commit/86180c1adc5e00370b6eb93b9d7adcbd180f1b66) for this. Right now that commit is a stub, and I am working on the tests first. Do you like the approach?

[2020-11-13 22:30] jyn514 opened #131 "Run `assert` on Drop"
Right now, any user of the API has to remember to call [`Mock::assert`](https://docs.rs/mockito/0.28.0/mockito/struct.Mock.html#method.assert) at the end of each and every test. If they forget, the mock doesn't actually test anything. It would be nice for this to be called automatically without the user having to remember.

_Originally reported by @jyn514 in https://github.com/deadlinks/cargo-dead

[2020-11-18 16:32] lipanski commented on #131
That's an interesting idea, but I wonder if there are use-cases where this could become a problem. Generally I prefer to be explicit here and I've seen other testing frameworks doing the same. I'll give it a thought before the 1.0. In any case, it would be a breaking change.

[2020-11-18 17:12] jyn514 commented on #131
You could always `mem::forget` the Mock if you didn't actually want to run the assert.

I don't feel super strongly about this, but I do think it would be a nice QOL improvement.

[2021-01-07 15:38] GeorgeHahn opened #132 "Replace `difference` crate"
The `difference` crate is listed in rustsec as unmaintained: https://rustsec.org/advisories/RUSTSEC-2020-0095.html. This isn't particularly critical, but it causes downstream users to get rustsec advisories for having a mockito dependency.

Upstream issue: https://github.com/johannhof/difference.rs/issues/45

[2021-01-07 16:13] lipanski commented on #132
@GeorgeHahn are you experiencing any compatibility issues or is this more about the warning message? PRs for upgrading to a similar crate are more than welcome.

[2021-01-07 17:43] GeorgeHahn commented on #132
@lipanski Yep, this is only about the warning message/rustsec github issues for downstream users. I'm not terribly concerned from a security perspective because this is usually a dev dependency. I added this work to my list, but I can't promise I'll get to it soon. I'll send a PR if I do!

Thank you for the awesome crate by the way :)

[2021-01-25 22:50] dimo414 commented on #111
I got bit by this too, but was confused because I _did_ have a mock in both tests:

[code]

Tiny typo though! `dont_visit()` is missing a call to `.create()`. The fix for #112 should have helped me spot this, but since I don't have logging configured I missed it. Just wanted to share in case anyone else hits this behavior and is confused.

[2021-01-25 22:53] dimo414 commented on #112
Is there any chance the `Mock` API could be split into a separate `Builder`, so that it's harder to accidentally drop `.create()` or mix up the mocking and asserting/expecting methods?

[2021-03-04 15:10] dorak88783 commented on #115
Maybe a first step could be to expose the URL (as `String`) of the request?

[code]

My use-case is that my code has the timestamp in the request (URL contains "&time=13541321") and this timestamp needs to be in the json response as well. Obviously I can't make matchers for any possible timestamps. I can hack around this e.g. by fixing the timestamp in production code but it'd be cleaner if the mo

[2021-03-18 11:17] lpil opened #138 "Release new version with latest fixes"
Hello! Thank you for this library, we're finding it very useful.

Would you be able to release a new version with the latest changes? Thank you

[2021-03-18 17:51] lipanski commented on #138
0.30.0 is out :ship:

[2021-03-18 17:51] #138 closed

[2021-03-19 13:29] lpil commented on #138
Thank you

[2021-05-21 16:06] a1ph opened #139 "How to mock Keep-alive connection?"
Can you please add an example? Thank you.

[2021-05-23 10:47] lipanski commented on #139
@a1ph this is not possible at the moment - see the discussion behind https://github.com/lipanski/mockito/issues/103

[2021-05-23 10:47] #139 closed

[2021-07-01 12:32] johannescpk commented on #131
Instead of making it a breaking change it could also be an opt-in option, maybe when creating the server url. I've just run into cases where I forgot to assert and the tests stayed green - such option would've helped.

[2021-07-12 08:35] johannescpk commented on #94
Personally I'd say the solution proposed in #92 would fit nicely here. I'm also having that use case where I have multiple endpoints that are exclusively used in tests, such as mocking away an external service

[2021-09-02 04:45] Matthias247 opened #140 "Mocks can receive requests from previous tests"
I observed an issue where one of my tests using this library failed sporadically with

GET /path
...but received 3

The mock in this test is set up using:
[code]

and the client trying to use the mock in this test definitely performs only 2 requests.

After adding a variety of additional logs and a custom header per test, I noticed that the mock received and processed a request from a previous tes

[2021-09-23 16:29] criminosis opened #141 "Non-Accessible Mocking Without Starting Forward Slash In Path?"
I can see this being arguably written off just as a PEBKAC situation but wanted to share.

In short I neglected to have a starting forward slash in the path. The mock seemed okay with this but if the initial forward slash is required this seems to be creating a non-accessible mock? This consumed a lot of time until I narrowed it down to the mock path missing that forward slash.

[code]

Off the cu

[2021-09-23 18:03] lipanski commented on #141
Thanks for reporting and for the suggestions. I don't think this requires any fix though, since it's the first time I hear of such an issue. I empathize with you about the time you've wasted, but my intention is to keep the library light at the moment.

[2021-09-23 18:03] #141 closed

[2021-09-23 18:26] eeclfrei commented on #141
I also ran into this issue on a separate occasion, and agree it did seem a bit non-intuitive to get back a 501 here.  Thought that it would probably prepend initial `/` if not supplied.

[2021-09-25 01:31] criminosis commented on #141
@lipanski that's one more instance that it impacted someone. Does that change your stance?

[2021-10-06 00:04] JamesSharkey opened #142 "Request with HTTP 1.0 hangs"
Hello, I'm testing a client that makes a HTTP 1.0 request. When making the HTTP 1.0 request to mockito it hangs.
[code]
Dependencies:
[code]

I cloned the mockito repo and added the test below which passed.
[code]

[2021-10-06 15:31] imalsogreg opened #143 "path matcher is sensitive to query param delimiter"
`stripe-rs` rust http client appends `?` to all the paths it produces, even when it doesn't go on to specify any query parameters. The mock service we wrote for stripe failed to match because we didn't realize the client code was generating and extra '?' and that mockito would consider a path with an extra '?' to be a mismatch.

Would you be open to a PR that makes matching flexible over this case

[2021-10-11 07:43] lipanski commented on #143
@imalsogreg I think you have a few options as is:

(1) include the `?` in the mocked path:

[code]

(2) use the `match_query` function on your Mock with either `Matcher::Any` or one of the other [matchers](https://docs.rs/mockito/0.30.0/mockito/enum.Matcher.html), like `Matcher::AnyOf` or `Matcher::AllOf` combined with `Matcher::UrlEncoded` or even `Matcher::Regex` (check the docs/tests for some e

[2021-11-18 08:21] kinosang opened #144 "Always fail with reqwest blocking"
[code]

fail to assert or got 503 error

[code]

[2022-01-26 02:20] #143 closed

[2022-02-26 18:15] #132 closed

[2022-06-21 18:01] lewcinho opened #147 "matchbody with PartialJson no match causes serde::json::error::Error - EOFWhileParsingValue"
- Rust version: 1.58.1
- Mockito version: 0.30.0

When using mockito's `matchbody` method to match requests, when a request is received that is not a good match, a `serde::json::error::Error` is thrown. This makes troubleshooting the test case difficult, as information on which requests the mock did receive are not exposed at any point.

Example:
[code]

[2022-07-08 23:57] iot-resister commented on #144
I'm having a similar issue using reqwests. I'm mocking  httpbin and getting an empty string:

[code]
result:
[code]

[code]

[2022-07-09 22:06] iot-resister opened #148 "Integration Tests With Rocket"
Hello,
Thank you for the great library.  I'm posting this in case someone else finds it useful.    I was trying to create a simple integration test with rocket.  I was bashing my head until I learned that `cfg(test)` is false when doing an integration test.

See: https://github.com/rust-lang/rust/issues/45599

Please excuse the quality, I'm  new to rust.  Any feedback is appreciated.  I have an e2

[2022-07-09 22:08] #148 closed

[2022-08-11 01:59] fermanjj commented on #140
I looks like you're calling `.expect()` after you create the mock. Does this same issue occur if you swap it to chaining `.expect()` _before_ calling `.create()`?

[2022-08-11 08:02] lipanski commented on #140
yes, currently Mockito runs all tests on the same server and this comes with various limitations. I've been wanting to move away from this model and allow (at least) one server per test. This would also mean you can start a mock server explicitly, making it possible to simulate multiple "hosts" within the same test. Didn't get to it yet and not sure when I'll be able to squeeze it in, but it shoul

[2022-08-11 13:04] fermanjj opened #149 "Expect 0 fails on matched()"
If you create a mock with expect set to 0 and call `.matched()` on the mock, it returns true without any receiving any requests which seems against the expected behaviour.

[code]

[2022-08-12 18:51] lipanski commented on #149
Quoting from the [documentation](https://docs.rs/mockito/latest/mockito/struct.Mock.html):

So if you expect 0 requests then it's _expected_ that `matched()` returns `true`. If you had anything but 0 requests to your mock, then `matched()` should return `false`.

BTW you can also replace `assert!(m.matched())` with `m.assert()` - it's the same.

[2022-08-12 18:51] #149 closed

[2022-10-10 15:10] doxblek opened #150 "Add support for HTTP/2"
I ran into the situation where I had to mock an HTTP/2-only-Server.
In the application I consumed the server using reqwest. I set reqwest to HTTP/2 only by this:
[code]

When using mockito, in contrast to the actual server, my unit test hang up (async unit test via tokio). Once I conditionally set reqwest to HTTP/2-only (using `#[cfg(test)]`), mockito worked as expected.

So it seams mockito is cu